<%- include("../partials/header") -%>

  <div class="container-fluid intro">
    <div class="roww">
      <div class="left">
        <!-- <img src="https://tse2.mm.bing.net/th?id=OIP.h54zUijgCOKHSWPx6oyUBQHaJ5&pid=Api&P=0&w=120&h=160" alt=""> -->
        <img src="/images/445-4452593_ashley-greene-png.png" alt="">
        <div class="line"></div>
        <div class="introtext">
          <h2>Welcome Juniors!</h2>
          <h3>We are here to guide you</h3>
          <p>Let's make a difference together</p>
          <h4>Find your guide , find your way.</h4>
          <!-- <button onclick="showDetails()" class="btn btn-danger" id="btnn"type="button">Read More</button> -->
          <!-- <div id="details">This page is doveloped by Mr. Suraj Chaudhary in order to keep his work ordered at one place. You can explore through his works in MyWork section on the top or scroll down for the content. Happy scrolling!</div> -->
        </div>
      </div>
      <div class="right  text-light">
        <form method="post" class="loginForm" id="loginForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">User name</label>
            <input type="text" name="userName" class="form-control" id="exampleInputEmail1"
              aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="passwword" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password">
          </div>

          <button type="submit" class="btn btn-light">Login</button>
          <a href="/signup" class="text-light" style="margin-left: 10px;">signup</a>
        </form>
      </div>
    </div>
    <main>
      <h2 class="fs-5 fw-normal text-center yourSeniorsHeading lh-lg">
        Your Seniors</h2>
      <div class="container-sm allSeniors">
        <div class="wrapper">
          <%for(var i=0;i<seniors.length;i++){%>
            <div class="card border " style="width: 25rem;">
              <!-- <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title text-uppercase">
                  <%=seniors[i].name%>
                </h5>
                <p class="card-text text-capitalize">
                  <%=seniors[i].branchName%><br>
                    <%=seniors[i].collegeName%>
                      <%=seniors[i].graduationYear%>
                </p>
                <a href=<%=seniors[i].postsUrl%> class="btn border stretched-link" style="color:white;">Visit profile</a>
              </div>
            </div>
            <%}%>
        </div>
      </div>

    </main>



    <!-- <%- include("../partials/footer") -%> -->

    <%- include("../partials/footer") -%>


      <!-- <form action="/login" method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User name</label>
      <input type="text" name="userName" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="passwword" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a href="/signup" style="margin-left: 10px;">signup</a>
  </form> -->