<%- include("../partials/header") -%>


 <div class="profileInfo container-sm d-flex justify-content-center align-items-center flex-column">
  <h1 class="fw-light text-uppercase">Welcome <span style="color:blue;"><%= p2.name %></span> </h1>
  <h4 class="fw-light ">Visitors : <span style="color:grey;"><%= p2.visitors %></span></h2>
  <h4 class="fw-light ">Likes : <span style="color:grey"><%= p2.likes %></span></h2>
</div>

<div class="container-sm">
  <div class="d-flex flex-wrap">
    <%for(var i=0;i<p2.posts.length;i++){%>
     <div class="col-sm-6">
       <div class="card">
         <div class="card-body">
           <h5 class="card-title"><%=p2.posts[i].title%></h5>
           <%  console.log("bharat")%>
           <p class="card-text" ondblclick="edit(this.id)" id="<%=p2.posts[i].postId%>"><%=p2.posts[i].details%></p>
          <form action="/deletePost" method="post">  
            <input type="hidden" name="postId" value="<%=p2.posts[i].postId%>" >
            <!-- <button></button> -->
            <button value="<%=p2.posts[i].postId%>" class="<%=p2.posts[i].postId%> btn btn-primary save" 
              style="display:none;" onclick="savePost(this.value)">Save</button>
            <button type="submit" class="  <%=p2.posts[i].postId%> btn btn-success delete" value="<%=p2._id%>" 
              name="_id">Delete</button>
          </form>
          </div>
       </div>
     </div>
    <%}%>
</div>
</div> 
  
  

   <!-- <% var id=p2._id;%> -->
  <form action="/newPost" class="newPost bg-light container-sm" method="post" >
    <div class="input-group mb-3">
      <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
      <input type="text" class="form-control" aria-label="Sizing example input" required name="title" aria-describedby="inputGroup-sizing-default">
    </div>   
     <div class="input-group">
      <span class="input-group-text">Details</span>
      <textarea class="form-control" required aria-label="With textarea" name="details"></textarea>
    </div>
    <button type="submit" class="container btn btn-success" name="id"  value="<%=p2._id%>">Add Post</button>
  </form>
</div>



<script>
      


      function edit(id){
        var ele=document.getElementById(id);
        var savebtn=document.getElementsByClassName(id)[0];
        var deletebtn=document.getElementsByClassName(id)[1];
        savebtn.style.display="inline-block";
        ele.setAttribute("contenteditable", "true");
        // deletebtn.style.display="none";

      }
      function savePost(id){
        var ele=document.getElementById(id);
        var savebtn=document.getElementsByClassName(id)[0];
        var deletebtn=document.getElementsByClassName(id)[1];
        savebtn.style.display="none";
        ele.setAttribute("contenteditable", "false");
        // deletebtn.style.display="block";

      }
     
</script>