<%- include("../partials/header") -%>


<div class="results">
    <p class="matches">Matches</p>
<div class="container-sm">
    <div class="d-flex flex-row flex-wrap">
      <%for(var i=0;i<p2.length;i++){%>
        <div class="col-sm-6" style="padding: 20px;">
          <div class="card border" style="width: 25rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title text-uppercase">
                <%=p2[i].item.name%>
              </h5>
              <p class="card-text text-capitalize">
                <%=p2[i].item.branchName%><br>
                  <%=p2[i].item.collegeName%>
                    <%=p2[i].item.graduationYear%>
              </p>
              <a href=<%=p2[i].item.postsUrl%> class="btn btn-success stretched-link">Visit profile</a>
            </div>
          </div>
        </div>
        <%}%>
    </div>
  </div>
</div>



<%- include("../partials/footer") -%>